
html { 
  background: url(../../images/backgrounds/characrea.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.zonerempli{
  background-color: #D28954;
}


@font-face {
    font-family: PressStart2P;
    src: url(../font/PressStart2P-Regular.ttf);
  }

@font-face {
    font-family: PressStart2P;
    src: url(../font/PressStart2P-Regular.ttf);
    font-weight: bold;
}

h1 {
  font-size: 40px;
  color: #D9D9D9;
  text-shadow: 1px 1px 2px black;
  font-family: PressStart2P;
}

h2 {
  font-size: 30px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

.skin-list{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.skin-list img{
  width: 150px;
  height: 150px;

}

.bus-list{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bus-list img{
  width: 534px;
  height: 220.5px;
}

.stats-info{
  background-color: rgba(217, 217, 217, 0.5);;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
} 

.center{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.espace{
  margin-right: 150px;
  margin-left: 150px;
}

#checkbox-div{
  display: flex;
  flex-direction: row;
}

.selected {
  transform: scale(0.9);
  border: 1px green solid;
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  align-items: center;
  justify-content: center;
}


label {
  border: 1px solid #fff;
  padding: 5px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
